<h1>Personajes Principales</h1>
<mat-grid-list cols="3" rowHeight="4:5">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title>Shadow</mat-card-title>
      <img
        mat-card-image
        src="assets/personajes/Avatar_hero.png"
        alt="foto de Shadow"
      />
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title>Sensei</mat-card-title>
      <img
        mat-card-image
        src="assets/personajes/Character_sensei.png"
        alt="foto de Sensei"
      />
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title>May</mat-card-title>
      <img
        mat-card-image
        src="assets/personajes/Character_may_1.png"
        alt="foto de May"
      />
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title>Sly</mat-card-title>
      <img
        mat-card-image
        src="assets/personajes/Character_thief.png"
        alt="foto de Sly"
      />
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title>Kali</mat-card-title>
      <img
        mat-card-image
        src="assets/personajes/Character_kali.png"
        alt="foto de Kali"
      />
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title>Cypher</mat-card-title>
      <img
        mat-card-image
        src="assets/personajes/Character_cypher.png"
        alt="foto de Cypher"
      />
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title>Ancient</mat-card-title>
      <img
        mat-card-image
        src="assets/personajes/Character_ancient.png"
        alt="foto de Ancient"
      />
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
