<h1 style="text-align: center; font-weight: bold">Bienvenidos a</h1>
<img src="assets/fotos/Logo.png" />
<p>
  Shadow Fight 2 es un juego de lucha de rol desarrollado por Nekki . La primera
  versión del juego se lanzó suavemente el 9 de octubre de 2013, mientras que el
  juego se lanzó en todo el mundo el 1 de mayo de 2014 en plataformas Android e
  iOS, y el 27 de enero de 2015, se lanzó en Windows 8 y 8.1
</p>

<p>
  El 13 de septiembre de 2018, también se lanzó para Nintendo Switch. La versión
  Switch fue la primera en introducir el modo versus en tiempo real a Shadow
  Fight 2 a través de batallas locales de jugador contra jugador. El 12 de marzo
  de 2019, Nekki anunció que el juego se había reescrito por completo con el
  motor Unity. La nueva versión se puso gradualmente a disposición de una
  pequeña cantidad de usuarios de Android para evitar problemas y problemas,
  antes de que finalmente estuviera disponible a nivel mundial el 7 de abril de
  2019.
</p>

<iframe
  width="727"
  height="409"
  src="https://www.youtube.com/embed/0iwtcZLm3ig"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>
