<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="inicio">Inicio</a>
      <a mat-list-item routerLink="galeria">Galeria</a>
      <a mat-list-item routerLink="rutapers">Personajes</a>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Armas - Acto I </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="rutacuch">Cuchillas</a>
        <a
          mat-list-item
          routerlink="rutanud"
          router-link="rutanud"
          href="rutanud"
          >Nudillos</a
        >
        <a
          mat-list-item
          routerlink="rutasai"
          router-link="rutasai"
          href="rutasai"
          >Sai</a
        >
        <a
          mat-list-item
          routerlink="rutabatac"
          router-link="rutabatac"
          href="rutabatac"
          >Batons Acero</a
        >
        <a
          mat-list-item
          routerlink="rutaespnin"
          router-link="rutaespnin"
          href="rutaespnin"
          >Espada Ninja</a
        >
        <a
          mat-list-item
          routerlink="rutamach"
          router-link="rutamach"
          href="rutamach"
          >Machetes</a
        >
        <a
          mat-list-item
          routerlink="rutadag"
          router-link="rutadag"
          href="rutadag"
          >Dagas</a
        >
        <a
          mat-list-item
          routerlink="rutasegsan"
          router-link="rutasegsan"
          href="rutasegsan"
          >Segadora Sangrante</a
        >
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>shadowfight2</span>
    </mat-toolbar>
    <!-- Add Content Here-->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
