<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="inicio">Inicio</a>
      <a mat-list-item routerLink="galeria">Galeria</a>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Armas - Acto I </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerlink="cuchillas">Cuchillas</a>
        <a mat-list-item routerlink="sai">Sai</a>
        <a mat-list-item routerlink="batonsacero">Batons Acero</a>
        <a mat-list-item routerlink="espadaninja">Espada Ninja</a>
        <a mat-list-item routerlink="machetes">Machetes</a>
        <a mat-list-item routerlink="dagas">Dagas</a>
        <a mat-list-item routerlink="segadorasangrante">Segadora Sangrante</a>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>shadowfight2</span>
    </mat-toolbar>
    <!-- Add Content Here-->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
