<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><img src="assets\fotos\sc-1.jpg" /></mat-grid-tile>
  <mat-grid-tile><img src="assets\fotos\sc-2.jpg" /></mat-grid-tile>
  <mat-grid-tile><img src="assets\fotos\sc-3.jpg" /></mat-grid-tile>
  <mat-grid-tile><img src="assets\fotos\sc-4.png" /></mat-grid-tile>
  <mat-grid-tile><img src="assets\fotos\sc-5.jpg" /></mat-grid-tile>
  <mat-grid-tile><img src="assets\fotos\sc-6.png" /></mat-grid-tile>
  <mat-grid-tile><img src="assets\fotos\sc-7.png" /></mat-grid-tile>
</mat-grid-list>
